html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  font-family: Coda, Meiryo, sans-serif;
  font-size: 16px;
  color: black;
  background-color: black;
  margin: 0;
  line-height: 120%;
}

p {
  margin: 12px 0;
}

a {
  color: inherit;
}

div.whole {
  width: 100%;
  box-sizing: border-box;
  box-sizing: border-box;
}
div.whole header.main {
  text-align: center;
  padding: 128px 12px;
  color: red;
  background-color: black;
  box-sizing: border-box;
  height: 100%;
}
div.whole header.main img {
  width: 240px;
}
div.whole div.contents {
  background-color: red;
  padding: 32px 0;
  border-radius: 6px;
}
div.whole div.contents article {
  max-width: 768px;
  margin: 64px auto;
  border-color: black;
  border-style: solid;
  border-width: 0 8px 8px 24px;
  border-radius: 24px 24px 24px 64px;
  box-sizing: border-box;
  background-color: black;
}
div.whole div.contents article header {
  color: red;
  font-size: 24px;
  font-weight: bolder;
  padding: 16px 0;
}
div.whole div.contents article section {
  padding: 36px 24px;
  background-color: red;
  border-radius: 12px 12px 16px 48px;
}
div.whole div.contents article section .fa.fa-fw {
  margin: 0 6px;
  vertical-align: middle;
}
div.whole div.contents article section ul > li, div.whole div.contents article section dl > dd {
  margin: 6px 0;
}
div.whole div.contents article section dl dt {
  margin-top: 12px;
}
div.whole div.contents article section dl dd {
  margin-left: 2em;
}
div.whole footer.main {
  text-align: center;
  color: red;
  background-color: black;
  padding: 36px 12px;
  font-size: 14px;
}

@media screen and (max-width: 800px) {
  body {
    font-size: 14px;
  }

  div.whole div.contents article {
    max-width: 100%;
    border-radius: 0;
    border-width: 0 12px 12px 12px;
  }
  div.whole div.contents article header {
    text-align: center;
  }
}
