html {
  height: 100%;
  width: 100%; }

body {
  height: 100%;
  width: 100%; }

body, div, header, ul, li {
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none; }

a {
  color: inherit; }

body {
  color: #333;
  font-family: 'Inconsolata', monospace, sans-serif; }

.global-header {
  position: absolute;
  width: 100%;
  height: 96px;
  padding: 0 48px;
  font-size: 24px;
  z-index: 1000; }
  .global-header .global-menu {
    line-height: 96px;
    font-weight: bolder; }
    .global-header .global-menu li {
      display: inline-block;
      float: left; }
      .global-header .global-menu li:not(:first-child) {
        margin-left: 48px; }
    .global-header .global-menu .global-menu-logo {
      height: 36px;
      vertical-align: sub; }
    .global-header .global-menu a {
      opacity: 0.5;
      transition: opacity 0.4s; }
      .global-header .global-menu a:hover {
        opacity: 1.0; }

.global-footer {
  padding: 36px 48px; }

.content {
  padding: 96px 48px 0; }
  .content h1.strap {
    position: relative;
    height: 240px;
    text-align: center;
    line-height: 200px;
    font-size: 32px; }
    .content h1.strap .strap-bg {
      position: absolute;
      left: -48px;
      right: -48px;
      top: -24px;
      right: 0;
      height: 240px;
      width: calc(100% + 96px);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: right;
      z-index: -1; }
  .content h1:before {
    content: '== '; }
  .content h1:after {
    content: ' =='; }
  .content h2:before {
    content: '-- '; }
  .content h2:after {
    content: ' --'; }
  .content h1, .content h2, .content h3 {
    margin-top: 48px; }
  .content article {
    font-family: serif; }

.top-cover {
  height: 100%;
  width: 100%;
  background-image: url("/image/bg.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: bottom; }
  .top-cover .description {
    position: absolute;
    bottom: 0;
    padding: 48px;
    opacity: 0.5; }
