html {
  height: 100%; }

body {
  height: 100%;
  margin: 0;
  background-color: #222;
  color: #ccc;
  font-family: 'Heebo', 'Helvetica Neue Condensed Bold', 'Impact', sans-serif; }

a {
  color: inherit; }

h2 {
  margin-top: 64px;
  border-bottom: 1px solid #ccc;
  text-transform: uppercase; }

.global-header {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden; }
  .global-header .p5-sketch-title {
    height: 100%; }

.global-content-root {
  margin: 24px; }

.global-footer {
  margin: 24px;
  margin-top: 72px; }
