section.main-content article dl.property {
  line-height: 20px;
  margin: 20px 0;
}
section.main-content article dl.property dt {
  float: left;
  font-weight: bolder;
}
section.main-content article dl.property dd {
  margin-left: 5em;
}
